#about-me-background {
    text-align: center;
    background-color: whitesmoke;
    width: 90%;
    border-radius: 25px;
    box-shadow: 1rem 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    z-index: 10;
    text-align: left;
    padding-bottom: 20px;
    margin: 150px 0 100px 5%;
}

#about-me-background h1{
    padding-left: 3%;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
}

.comment{
    padding-top: 20px;
    padding-left: 20px !important;
    color: gray;
    font-size: 0.8rem !important;
}

#about-me-background p, #about-me-background a{
    width: 90%;
    padding-left: 5%;
    font-size: 1rem;
    margin-bottom: 30px;
    display: block;
}