footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #141414;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    z-index: 200;
}

footer.hidden {
    transform: translateY(100%);
}

footer.shown {
    transform: translateY(0);
}

footer p {
    color: whitesmoke;
    font-size: 1rem;
    margin: 20px;
}

footer a {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: gray;
    text-decoration: none;
}

footer a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

section {
    padding-bottom: 200px;
}