#game-shelf {
    width: 90%;
    margin-left: 5%;
    padding-top: 25px;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.game-container {
    position: relative;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    min-width: 250px;
    min-height: 420px;
    max-width: 250px;
    max-height: 420px;
    transition: all 0.3s ease;
}

.game-container:hover {
    transform: scale(1.05);
}

.game-container h3
{
    margin-top: 10px;
    font-size: 1rem;
}

.game-container p
{
    height: 70px;
    margin-top: 15px;
    font-size: 0.8rem;
    overflow: hidden;
}

.game-container img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
}

.game-container button {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 40px;
    border-radius: 25px;
    background-color: lime;
    border: none;
    font-family: "Bungee", serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #141414;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    bottom: 10px;
    transition: all 0.3s ease;
}

.game-container button:hover {
    background-color: #1a1a1a;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.05);
}

.game-container button img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    transition: all 0.3s ease;
}

.game-container button:hover img {
    filter: invert(1);
}