#main-presentation {
    margin-top: 150px;
    padding: 15px 0 15px 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 2rem;
    box-shadow: 
        0 -1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25),
        0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

#game-shelf {
    width: 90%;
    margin-left: 5%;
    padding-top: 25px;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.game-container {
    position: relative;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s ease;
    height: auto;
}

.game-container:hover {
    transform: scale(1.05);
}

.game-container h2
{
    margin-top: 10px;
    font-size: 1rem;
}

.game-container p
{
    margin-top: 15px;
    font-size: 0.8rem;
    margin-bottom: 100px;
}

.game-container img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
}

.game-container button {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 80px;
    border-radius: 25px;
    background-color: lime;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    bottom: 10px;
    transition: all 0.3s ease;
}

.game-container button span{
    font-family: "Bungee", serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #141414;
    text-align: center;
}

.game-container button:hover {
    background-color: #1a1a1a;
    cursor: pointer;
    transform: scale(1.05);
}

.game-container button:hover span{
    color: whitesmoke;
}

.game-container button img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    transition: all 0.3s ease;
}

.game-container button:hover img {
    filter: invert(1);
}