/* Section */

#main-presentation h1{
    padding: 20px;
    font-weight: bold;
    font-size: 2rem;
}

#main-presentation h2{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #141414;
}

.text-content h3
{
    padding-top: 30px;
    font-size: 2rem;
}

#main-presentation {
    margin-top: 150px;
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 
        0 -1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25),
        0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

#main-presentation p
{
    margin-top: 30px;
    font-size: 1.2rem;
}

#main-presentation ul
{
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-presentation ul li a {
    font-size: 1.2rem;
    padding: 15px 20px;
    display: block;
    width: 200px;
    margin-bottom: 15px;
    border-radius: 25px;
    color: #141414;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#main-presentation ul li a:hover {
    background: #141414;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.info-tab-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.info-tab
{
    width: 100%;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    padding: 20px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.info-tab:hover {
    transform: scale(1.05);
}

.text-content {
    flex: 1 0;
    color: #141414;
}

.text-content h1, .text-content h2 {
    margin: 10px 0;
}

section p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.text-content a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    background-color: #141414;
    border-radius: 25px;
    padding: 12px 20px;
    color: whitesmoke;
    display: inline-block;
    transition: all 0.3s ease;
}

.text-content a:hover {
    background-color: #ffffff;
    color: #141414;
    transform: scale(1.05);
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .info-tab
    {
        flex-direction: column;
    }

    .text-content {
        flex: auto;
    }

    .image-container {
        width: 100% !important;
    }
}