/* Section */

#main-presentation h1{
    padding-top: 10px;
    font-weight: bold;
    font-size: 50px;
}

#main-presentation h2{
    font-size: 30px;
    font-weight: bold;
    color: #141414;
}

.text-content h3
{
    padding-top: 30px;
    font-size: 40px;
}

#main-presentation {
    margin-top: 150px;
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 
        0 -1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25),
        0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

#main-presentation p
{
    margin-top: 30px;
    font-size: 30px;
}

#main-presentation ul
{
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#main-presentation ul li a{
    font-size: 30px;
    padding-bottom: 20px;
    display: block;
}

.info-tab-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;    /* Centers the content vertically */
    flex-direction: column; /* Keeps the info tabs in a column layout */
    margin-top: 20px;
}

.info-tab
{
    width: 100%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    display: flex;
    align-items: flex-start; 
    padding: 20px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    flex-wrap: wrap;
}

.text-content {
    flex: 1;
    color: #141414;
}

.text-content h1, .text-content h2 {
    margin: 10px 0;
}

p {
    font-size: 30px;
    margin-bottom: 50px;
}

.text-content a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    background-color: #141414;
    border-radius: 5px;
    padding: 10px 10px;
    color: whitesmoke;
}

.text-content a:hover{
    background-color: whitesmoke;
    color: #141414;
}