html
{
    /* default value, now I need to use rem to modify all the text */
    font-size: 24px;
    letter-spacing: 0px;
}

h1, h2, h3, h4, h5, h6, header nav a, footer p, .section-title
{
    font-family: "Bungee", serif;
    font-weight: bold;
}

p, a, li, button
{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

a{
    position: relative;
}

a img{
    margin-left: 5px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}