h1, h2, h3, h4, h5, h6, header nav a, footer p
{
    font-family: "Bungee", serif;
    font-weight: bold;
}

p, a, li, button
{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

a{
    position: relative;
}

a img{
    margin-left: 5px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}